[Desktop Entry]
Name=Screen
Name[fr]=Écran
Name[nl]=Scherm
Name[pt]=Ecrã
Name[sk]=Obrazovka
Name[sv]=Bildskärm
Name[uk]=Екран
Name[x-test]=xxScreenxx
Comment=Lock, Sleep, Timeout
Comment[fr]=Verrou, mise en sommeil, temps imparti
Comment[nl]=Vergrendelen, onderbreken, tijdslimiet
Comment[pt]=Bloquear, Suspender, Tempo-Limite
Comment[sv]=Lås, viloläge, tidsgräns
Comment[uk]=Блокування, присипляння, час очікування
Comment[x-test]=xxLock, Sleep, Timeoutxx

Encoding=UTF-8
Type=Service
Icon=preferences-system-power-management
X-KDE-ServiceTypes=Active/SettingsModule
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=kcm_mobile_power
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma-active.org
X-KDE-PluginInfo-Category=Power management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-FormFactors=handset,tablet,mediacenter
X-Plasma-MainScript=ui/Power.qml
