[Desktop Entry]
Name=Screen
Name[ast]=Pantalla
Name[ca]=Pantalla
Name[ca@valencia]=Pantalla
Name[cs]=Obrazovka
Name[da]=Skærm
Name[de]=Bildschirm
Name[el]=Οθόνη
Name[en_GB]=Screen
Name[es]=Pantalla
Name[fr]=Écran
Name[nl]=Scherm
Name[pl]=Ekran
Name[pt]=Ecrã
Name[sk]=Obrazovka
Name[sv]=Bildskärm
Name[uk]=Екран
Name[x-test]=xxScreenxx
Name[zh_CN]=屏幕
Comment=Lock, Sleep, Timeout
Comment[ca]=Bloqueja, adorm, Temps d'espera
Comment[ca@valencia]=Bloqueja, adorm, Temps d'espera
Comment[da]=Lås, slumre, tidsudløb
Comment[el]=Κλείδωμα, ύπνωση, χρονικό όριο
Comment[en_GB]=Lock, Sleep, Timeout
Comment[es]=Bloquear, hibernar, tiempo de espera
Comment[fr]=Verrou, mise en sommeil, temps imparti
Comment[nl]=Vergrendelen, onderbreken, tijdslimiet
Comment[pl]=Zablokuj,Uśpij,Czasomierz
Comment[pt]=Bloquear, Suspender, Tempo-Limite
Comment[sv]=Lås, viloläge, tidsgräns
Comment[uk]=Блокування, присипляння, час очікування
Comment[x-test]=xxLock, Sleep, Timeoutxx
Comment[zh_CN]=锁屏，睡眠，超时

Encoding=UTF-8
Type=Service
Icon=preferences-system-power-management
X-KDE-ServiceTypes=Active/SettingsModule
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=kcm_mobile_power
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma-active.org
X-KDE-PluginInfo-Category=Power management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-FormFactors=handset,tablet,mediacenter
X-Plasma-MainScript=ui/Power.qml
