[Desktop Entry]
Name=Information
Name[ca]=Informació
Name[cs]=Informace
Name[en_GB]=Information
Name[es]=Información
Name[gl]=Información
Name[it]=Informazioni
Name[lt]=Informacija
Name[nl]=Informatie
Name[pl]=Informacje
Name[pt]=Informação
Name[pt_BR]=Informações
Name[sv]=Information
Name[uk]=Інформація
Name[x-test]=xxInformationxx
Name[zh_TW]=資訊
Comment=Software versions
Comment[ca]=Versions de programari
Comment[cs]=Verze softwaru
Comment[en_GB]=Software versions
Comment[es]=Versiones de software
Comment[gl]=Versións de software
Comment[it]=Versioni software
Comment[lt]=Programinės įrangos versijos
Comment[nl]=Softwareversies
Comment[pl]=Wersje oprogramowania
Comment[pt]=Versões do 'software'
Comment[pt_BR]=Versões do software
Comment[sv]=Programvaruversioner
Comment[uk]=Версії програмного забезпечення
Comment[x-test]=xxSoftware versionsxx
Comment[zh_TW]=軟體版本
Encoding=UTF-8
Type=Service
Icon=documentinfo
X-KDE-ServiceTypes=SettingsModule
X-KDE-PluginInfo-Author=Jonah Brüchert
X-KDE-PluginInfo-Email=jbb@kaidan.im
X-KDE-PluginInfo-Name=kcm_mobile_info
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma-mobile.org
X-KDE-PluginInfo-License=GPL
X-KDE-FormFactors=handset,tablet,mediacenter
X-Plasma-MainScript=ui/main.qml
