[Desktop Entry]
Name=Accounts
Name[ast]=Cuentes
Name[ca]=Comptes
Name[ca@valencia]=Comptes
Name[cs]=Účty
Name[el]=Λογαριασμοί
Name[es]=Cuentas
Name[fr]=Comptes
Name[nl]=Accounts
Name[pl]=Konta
Name[pt]=Contas
Name[sk]=Účty
Name[sv]=Konton
Name[uk]=Облікові записи
Name[x-test]=xxAccountsxx
Comment=Add Your Online Accounts
Comment[ast]=Amiesta les tos cuentes en llinia
Comment[ca]=Afegiu els vostres comptes en línia
Comment[ca@valencia]=Afegiu els vostres comptes en línia
Comment[cs]=Přidejte svoje účty online
Comment[el]=Προσθέστε τους διαδικτυακούς σας λογαριασμούς
Comment[es]=Añadir cuentas en línea
Comment[fr]=Ajouter vos comptes en ligne
Comment[nl]=Uw online accounts toevoegen
Comment[pl]=Dodaj swoje konta internetowe
Comment[pt]=Adicionar as Suas Contas 'Online'
Comment[sv]=Lägg till dina nätkonton
Comment[uk]=Додавання ваших облікових записів
Comment[x-test]=xxAdd Your Online Accountsxx

Icon=applications-internet
Exec=plasma-settings -m kaccounts
#Exec=plasma-settings -m kcm_mobile_power

Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ParentApp=kcontrol
X-KDE-FormFactors=handset,tablet,mediacenter

X-KDE-System-Settings-Parent-Category=display
X-KDE-Weight=70

X-KDE-Keywords=accounts, online
X-KDE-Keywords[ast]=cuentes, en llinia
X-KDE-Keywords[ca]=comptes,en línia
X-KDE-Keywords[ca@valencia]=comptes,en línia
X-KDE-Keywords[cs]=účty, online
X-KDE-Keywords[el]=λογαριασμοί, διαδικτυακοί
X-KDE-Keywords[es]=cuentas, en línea
X-KDE-Keywords[fr]=comptes, en ligne
X-KDE-Keywords[nl]=accounts, online
X-KDE-Keywords[pl]=konta,internet,online
X-KDE-Keywords[pt]=contas, online
X-KDE-Keywords[sv]=konton, uppkoppling
X-KDE-Keywords[uk]=облікові записи,мережа,accounts,online
X-KDE-Keywords[x-test]=xxaccountsxx,xx onlinexx
Categories=Qt;KDE;X-KDE-settings-system;

