[Desktop Entry]
Name=Accounts
Comment=Add Your Online Accounts

Icon=applications-internet
Exec=active-settings -m kaccounts
#Exec=active-settings -m kcm_mobile_power

Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ParentApp=kcontrol
X-KDE-FormFactors=handset,tablet,mediacenter

X-KDE-System-Settings-Parent-Category=display
X-KDE-Weight=70

X-KDE-Keywords=accounts, online
Categories=Qt;KDE;X-KDE-settings-system;

