[Desktop Entry]
Name=Accounts
Name[nl]=Accounts
Name[sv]=Konton
Name[uk]=Облікові записи
Name[x-test]=xxAccountsxx
Comment=Add Your Online Accounts
Comment[nl]=Uw online accounts toevoegen
Comment[sv]=Lägg till dina nätkonton
Comment[uk]=Додавання ваших облікових записів
Comment[x-test]=xxAdd Your Online Accountsxx

Icon=applications-internet
Exec=plasma-settings -m kaccounts
#Exec=plasma-settings -m kcm_mobile_power

Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ParentApp=kcontrol
X-KDE-FormFactors=handset,tablet,mediacenter

X-KDE-System-Settings-Parent-Category=display
X-KDE-Weight=70

X-KDE-Keywords=accounts, online
X-KDE-Keywords[nl]=accounts, online
X-KDE-Keywords[sv]=konton, uppkoppling
X-KDE-Keywords[uk]=облікові записи,мережа,accounts,online
X-KDE-Keywords[x-test]=xxaccountsxx,xx onlinexx
Categories=Qt;KDE;X-KDE-settings-system;

