[Desktop Entry]
Name=Cellular Networks
Comment=Management of cellular networks
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_mobile_cellularnetwork
X-KDE-FormFactors=handset,tablet,mediacenter
Categories=Qt;KDE;X-KDE-settings-system;
X-KDE-Keywords=info,cell,mobile
X-KDE-ParentApp=kcontrol
Exec=plasma-settings -m kcm_mobile_cellularnetwork
