[Desktop Entry]
Name=Cellular Networks
Name[ca]=Xarxes de telefonia mòbil
Name[de]=Mobilfunknetze
Name[eu]=Mugikor sareak
Name[fi]=Matkapuhelinverkot
Name[it]=Reti cellulari
Name[nl]=Cellulaire netwerken
Name[pt]=Redes Móveis
Name[pt_BR]=Redes celulares
Name[sl]=Mobilna omrežja
Name[sv]=Mobilnät
Name[uk]=Стільникові мережі
Name[x-test]=xxCellular Networksxx
Comment=Management of cellular networks
Comment[ca]=Gestió de xarxes de telefonia mòbil
Comment[de]=Verwaltung von Mobilfunknetzen
Comment[eu]=Mugikor sareen kudeaketa
Comment[fi]=Matkapuhelinverkkojen hallinta
Comment[it]=Gestione delle reti cellulari
Comment[nl]=Beheer van cellulaire netwerken
Comment[pt]=Gestão de redes móveis
Comment[pt_BR]=Gerenciamento de redes celulares
Comment[sl]=Upravljanje mobilnih omrežij
Comment[sv]=Hantering av mobilnät
Comment[uk]=Керування стільниковими мережами
Comment[x-test]=xxManagement of cellular networksxx
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_mobile_cellularnetwork
X-KDE-FormFactors=handset,tablet,mediacenter
Categories=Qt;KDE;X-KDE-settings-system;
X-KDE-Keywords=info,cell,mobile
X-KDE-Keywords[ca]=info,cel·la,mòbil
X-KDE-Keywords[de]=handy,mobil,mobilfunk
X-KDE-Keywords[eu]=informazioa,info,zelula,mugikorra
X-KDE-Keywords[it]=info,cell,mobile
X-KDE-Keywords[nl]=informatie,cel,mobiel
X-KDE-Keywords[pt]=informação,célula,telemóvel
X-KDE-Keywords[pt_BR]=informação,celular,móvel
X-KDE-Keywords[sl]=info,cell,mobile
X-KDE-Keywords[sv]=information,mobil
X-KDE-Keywords[uk]=info,cell,mobile,інформація,відомості,мобільний,стільниковий
X-KDE-Keywords[x-test]=xxinfoxx,xxcellxx,xxmobilexx
X-KDE-ParentApp=kcontrol
Exec=plasma-settings -m kcm_mobile_cellularnetwork
