[Desktop Entry]
Name=Cellular Network
Name[az]=Mobil Şəbəkə
Name[ca]=Xarxa de telefonia mòbil
Name[ca@valencia]=Xarxa de telefonia mòbil
Name[cs]=Mobilní síť
Name[es]=Red móvil
Name[fr]=Réseau cellulaire
Name[hu]=Mobilhálózatok
Name[ia]=Rete Cellular
Name[nl]=Cellulair netwerk
Name[nn]=Mobilnettverk
Name[pl]=Sieci komórkowe
Name[pt_BR]=Rede celular
Name[ru]=Сотовая сеть
Name[sl]=Mobilno omrežje
Name[sv]=Mobilnät
Name[uk]=Стільникова мережа
Name[vi]=Mạng di động
Name[x-test]=xxCellular Networkxx
Name[zh_CN]=移动网络
Comment=Management of cellular networks
Comment[ast]=Xestión de redes pa móviles
Comment[az]=Mobil Şəbəkələr Meneceri
Comment[ca]=Gestió de xarxes de telefonia mòbil
Comment[ca@valencia]=Gestió de xarxes de telefonia mòbil
Comment[cs]=Spravovat vaše mobilní sítě
Comment[da]=Håndtering af mobilnetværk
Comment[de]=Verwaltung von Mobilfunknetzen
Comment[en_GB]=Management of cellular networks
Comment[es]=Gestión de redes móviles
Comment[et]=Mobiilsidevõrkude haldamine
Comment[eu]=Mugikorrerako sareen kudeaketa
Comment[fi]=Matkapuhelinverkkojen hallinta
Comment[fr]=Gestion de réseaux cellulaires
Comment[hu]=Mobilhálózatok kezelése
Comment[ia]=Gestion de retes cellular
Comment[it]=Gestione delle reti cellulari
Comment[ko]=모바일 네트워크 관리
Comment[lt]=Korinių tinklų tvarkymas
Comment[nl]=Beheer van cellulaire netwerken
Comment[nn]=Handsaming av mobilnettverk
Comment[pa]=ਸੈਲੂਲਰ ਨੈੱਟਵਰਕਾਂ ਦਾ ਇੰਤਜ਼ਾਮ ਕਰੋ
Comment[pl]=Zarządzanie sieciami komórkowymi
Comment[pt]=Gestão de redes móveis
Comment[pt_BR]=Gerenciamento de redes celulares
Comment[ro]=Gestiunea rețelelor celulare
Comment[ru]=Управление сотовыми сетями
Comment[sk]=Správa mobilných sietí
Comment[sl]=Upravljanje mobilnih omrežij
Comment[sv]=Hantering av mobilnät
Comment[tr]=Hücresel ağ yönetimi
Comment[uk]=Керування стільниковими мережами
Comment[vi]=Quản lí các mạng di dộng
Comment[x-test]=xxManagement of cellular networksxx
Comment[zh_CN]=管理移动网络

Icon=smartphone
Exec=plasma-settings -m kcm_cellular_network

Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_cellular_network
X-KDE-ParentApp=kcontrol
X-KDE-FormFactors=handset,tablet,mediacenter

X-KDE-System-Settings-Parent-Category=network
X-KDE-Weight=70

X-KDE-Keywords=mobile,data,network
X-KDE-Keywords[az]=mobile,data,network,verilənlər,şəbəkə,mobil
X-KDE-Keywords[ca]=mòbil,dades,xarxa
X-KDE-Keywords[ca@valencia]=mòbil,dades,xarxa
X-KDE-Keywords[cs]=mobilní,data,síť
X-KDE-Keywords[es]=móvil,datos,red
X-KDE-Keywords[fr]=mobile, donnée, réseau
X-KDE-Keywords[hu]=mobil,adat,hálózat
X-KDE-Keywords[ia]=mobile,data,network
X-KDE-Keywords[nl]=mobiel,gegevens,netwerk
X-KDE-Keywords[nn]=mobil,mobilt,data,nettverk
X-KDE-Keywords[pl]=mobilne,komórkowe,przenośne,dane,sieć
X-KDE-Keywords[pt_BR]=móvel,dados,rede
X-KDE-Keywords[ru]=mobile,data,network,мобильная сеть,данные,сеть
X-KDE-Keywords[sl]=mobilno,podatki,omrežje
X-KDE-Keywords[sv]=mobil,data,nätverk
X-KDE-Keywords[uk]=mobile,data,network,мобільний,дані,мережа
X-KDE-Keywords[vi]=mobile,data,network,di động,dữ liệu,mạng
X-KDE-Keywords[x-test]=xxmobilexx,xxdataxx,xxnetworkxx
X-KDE-Keywords[zh_CN]=mobile,data,network,移动,数据,网络,蜂窝,手机
Categories=Qt;KDE;X-KDE-settings-system;
