[Desktop Entry]
Name=Settings
GenericName=Settings
Comment=Settings for Plasma
Exec=active-settings -x all %u
Terminal=false
Icon=preferences-desktop
Type=Application
X-KDE-PluginInfo-Website=http://plasma-active.org
X-DBUS-StartupType=Unique
