[Desktop Entry]
Name=Settings
Name[az]=Ayarlar
Name[ca]=Configuració
Name[ca@valencia]=Configuració
Name[cs]=Nastavení
Name[da]=Indstillinger
Name[de]=Einstellungen
Name[el]=Ρυθμίσεις
Name[en_GB]=Settings
Name[es]=Preferencias
Name[et]=Seadistused
Name[eu]=Ezarpenak
Name[fi]=Asetukset
Name[fr]=Configuration
Name[gl]=Configuración
Name[hu]=Beállítások
Name[ia]=Preferentias
Name[id]=Pengaturan
Name[is]=Stillingar
Name[it]=Impostazioni
Name[ka]=მორგება
Name[ko]=설정
Name[lt]=Nuostatos
Name[nl]=Instellingen
Name[nn]=Innstillingar
Name[pa]=ਸੈਟਿੰਗਾਂ
Name[pl]=Ustawienia
Name[pt]=Configuração
Name[pt_BR]=Configurações
Name[ro]=Configurări
Name[ru]=Параметры
Name[sk]=Nastavenia
Name[sl]=Nastavitve
Name[sv]=Inställningar
Name[ta]=அமைப்புகள்
Name[tr]=Ayarlar
Name[uk]=Параметри
Name[vi]=Thiết lập
Name[x-test]=xxSettingsxx
Name[zh_CN]=设置
Name[zh_TW]=設定
GenericName=Settings
GenericName[az]=Ayarlar
GenericName[ca]=Configuració
GenericName[ca@valencia]=Configuració
GenericName[cs]=Nastavení
GenericName[da]=Indstillinger
GenericName[de]=Einstellungen
GenericName[el]=Ρυθμίσεις
GenericName[en_GB]=Settings
GenericName[es]=Preferencias
GenericName[et]=Seadistused
GenericName[eu]=Ezarpenak
GenericName[fi]=Asetukset
GenericName[fr]=Paramètres
GenericName[gl]=Configuración
GenericName[hu]=Beállítások
GenericName[ia]=Preferentias
GenericName[id]=Pengaturan
GenericName[is]=Stillingar
GenericName[it]=Impostazioni
GenericName[ka]=მორგება
GenericName[ko]=설정
GenericName[lt]=Nuostatos
GenericName[nl]=Instellingen
GenericName[nn]=Innstillingar
GenericName[pa]=ਸੈਟਿੰਗਾਂ
GenericName[pl]=Ustawienia
GenericName[pt]=Configuração
GenericName[pt_BR]=Configurações
GenericName[ro]=Configurări
GenericName[ru]=Параметры
GenericName[sk]=Nastavenia
GenericName[sl]=Nastavitve
GenericName[sv]=Inställningar
GenericName[ta]=அமைப்புகள்
GenericName[tr]=Ayarlar
GenericName[uk]=Параметри
GenericName[vi]=Thiết lập
GenericName[x-test]=xxSettingsxx
GenericName[zh_CN]=设置
GenericName[zh_TW]=設定
Comment=Settings for Plasma
Comment[az]=Plasma üçün Ayarlar
Comment[ca]=Configuració per al Plasma
Comment[ca@valencia]=Configuració per a Plasma
Comment[cs]=Nastavení pro prostředí Plasma
Comment[da]=Indstillinger for Plasma
Comment[de]=Einstellungen für Plasma
Comment[el]=Ρυθμίσεις για το Plasma
Comment[en_GB]=Settings for Plasma
Comment[es]=Preferencias para Plasma
Comment[et]=Plasma seadistused
Comment[eu]=Plasmako ezarpenak
Comment[fi]=Plasman asetukset
Comment[fr]=Paramètres de Plasma
Comment[gl]=Configuración de Plasma
Comment[hu]=A Plasma beállításai
Comment[ia]=Preferentias per Plasma
Comment[id]=Pengaturan Plasma
Comment[is]=Stillingar fyrir Plasma
Comment[it]=Impostazioni per Plasma
Comment[ka]=Plasma-სთვის მორგება
Comment[ko]=Plasma 설정
Comment[lt]=Plasma nuostatos
Comment[nl]=Instellingen voor Plasma
Comment[nn]=Plasma-innstillingar
Comment[pa]=ਪਲਾਜ਼ਮਾ ਲਈ ਸੈਟਿੰਗਾਂ
Comment[pl]=Ustawienia dla Plazmy
Comment[pt]=Configuração do Plasma
Comment[pt_BR]=Configurações do Plasma
Comment[ro]=Configurări pentru Plasma
Comment[ru]=Параметры Plasma
Comment[sk]=Nastavenia pre Plasma
Comment[sl]=Nastavitve za Plasmo
Comment[sv]=Inställningar för Plasma
Comment[ta]=பிளாஸ்மாவுக்கான அமைப்புகள்
Comment[tr]=Plasma Ayarları
Comment[uk]=Параметри Плазми
Comment[vi]=Thiết lập cho Plasma
Comment[x-test]=xxSettings for Plasmaxx
Comment[zh_CN]=Plasma 设置
Comment[zh_TW]=Plasma 設定
Exec=plasma-settings -x all %u
Terminal=false
Icon=preferences-desktop
Type=Application
X-KDE-PluginInfo-Website=https://plasma-mobile.org
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.mobile.plasmasettings
Categories=Qt;KDE;Settings;
X-KDE-FormFactors=tablet,handset
Keywords=Preferences;Settings;
Keywords[az]=Preferences;Settings;Parametrlər;Seçimlər;Ayarlar;
Keywords[ca]=Preferències;Configuració;Arranjament;
Keywords[ca@valencia]=Preferències;Configuració;
Keywords[cs]=Předvolby;Nastavení;
Keywords[es]=Preferencias;Ajustes;
Keywords[eu]=Hobespenak;Ezarpenak;
Keywords[fr]=Préférences ; Configuration ; 
Keywords[it]=Preferenze;Impostazioni;
Keywords[ka]=მორგება;
Keywords[lt]=Nuostatos;Nustatymai;
Keywords[nl]=Voorkeuren;instellingen;
Keywords[pl]=Preferencje;Ustawienia;
Keywords[pt]=Preferências;Configuração;
Keywords[pt_BR]=Preferências;Configurações;
Keywords[ru]=Preferences;Settings;Параметры;Настройки
Keywords[sl]=Preference;Nastavitve
Keywords[ta]=Preferences;Settings;அமைப்புகள்;முன்னுரிமைகள்;விருப்பத்தேர்வுகள்
Keywords[tr]=Tercihler;Ayarlar;
Keywords[uk]=Preferences;Settings;Налаштування;Параметри;
Keywords[vi]=Preferences;Settings;Các thiết lập;Thiết lập
Keywords[x-test]=xxPreferencesxx;xxSettingsxx;
Keywords[zh_CN]=Preferences;Settings;首选项;设置;
