[Desktop Entry]
Name=Settings
Name[ast]=Axustes
Name[ca]=Ajustaments
Name[ca@valencia]=Ajustaments
Name[cs]=Nastavení
Name[da]=Indstillinger
Name[de]=Einstellungen
Name[el]=Ρυθμίσεις
Name[en_GB]=Settings
Name[es]=Preferencias
Name[fi]=Asetukset
Name[fr]=Configuration
Name[nl]=Instellingen
Name[pl]=Ustawienia
Name[pt]=Configuração
Name[sk]=Nastavenia
Name[sl]=Nastavitve
Name[sv]=Inställningar
Name[uk]=Параметри
Name[x-test]=xxSettingsxx
Name[zh_CN]=设置
GenericName=Settings
GenericName[ast]=Axustes
GenericName[ca]=Ajustaments
GenericName[ca@valencia]=Ajustaments
GenericName[cs]=Nastavení
GenericName[da]=Indstillinger
GenericName[de]=Einstellungen
GenericName[el]=Ρυθμίσεις
GenericName[en_GB]=Settings
GenericName[es]=Preferencias
GenericName[fi]=Asetukset
GenericName[fr]=Paramètres
GenericName[nl]=Instellingen
GenericName[pl]=Ustawienia
GenericName[pt]=Configuração
GenericName[sk]=Nastavenia
GenericName[sl]=Nastavitve
GenericName[sv]=Inställningar
GenericName[uk]=Параметри
GenericName[x-test]=xxSettingsxx
GenericName[zh_CN]=设置
Comment=Settings for Plasma
Comment[ast]=Axustes pa Plasma
Comment[ca]=Ajustaments per al Plasma
Comment[ca@valencia]=Ajustaments per al Plasma
Comment[cs]=Nastavení pro prostředí Plasma
Comment[da]=Indstillinger for Plasma
Comment[de]=Einstellungen für Plasma
Comment[el]=Ρυθμίσεις για το Plasma
Comment[en_GB]=Settings for Plasma
Comment[es]=Preferencias para Plasma
Comment[fi]=Plasman asetukset
Comment[nl]=Instellingen voor Plasma
Comment[pl]=Ustawienia dla Plazmy
Comment[pt]=Configuração do Plasma
Comment[sl]=Nastavitve za Plasmo
Comment[sv]=Inställningar för Plasma
Comment[uk]=Параметри Плазми
Comment[x-test]=xxSettings for Plasmaxx
Comment[zh_CN]=Plasma 设置
Exec=plasma-settings -x all %u
Terminal=false
Icon=preferences-desktop
Type=Application
X-KDE-PluginInfo-Website=http://plasma-active.org
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.mobile.plasmasettings
Categories=Qt;KDE;Settings;
X-KDE-FormFactors=tablet,handset
