[Desktop Entry]
Name=Settings
Name[nl]=Instellingen
Name[sv]=Inställningar
Name[uk]=Параметри
Name[x-test]=xxSettingsxx
GenericName=Settings
GenericName[nl]=Instellingen
GenericName[sv]=Inställningar
GenericName[uk]=Параметри
GenericName[x-test]=xxSettingsxx
Comment=Settings for Plasma
Comment[nl]=Instellingen voor Plasma
Comment[sv]=Inställningar för Plasma
Comment[uk]=Параметри Плазми
Comment[x-test]=xxSettings for Plasmaxx
Exec=plasma-settings -x all %u
Terminal=false
Icon=preferences-desktop
Type=Application
X-KDE-PluginInfo-Website=http://plasma-active.org
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.activesettings
Categories=Qt;KDE;Settings;
X-KDE-FormFactors=tablet,handset
