[Desktop Entry]
Name=Language
Name[ast]=Llingua
Name[ca]=Idioma
Name[ca@valencia]=Idioma
Name[cs]=Jazyk
Name[es]=Idioma
Name[fr]=Langue
Name[nl]=Taal
Name[pl]=Język
Name[pt]=Língua
Name[sk]=Jazyk
Name[sv]=Språk
Name[uk]=Мова
Name[x-test]=xxLanguagexx
Name[zh_CN]=语言
Comment=Locale settings
Comment[ast]=Axustes de locale
Comment[ca]=Ajustaments de la configuració regional
Comment[ca@valencia]=Ajustaments de la configuració regional
Comment[cs]=Místní nastavení
Comment[es]=Preferencias locales
Comment[fr]=Configuration des paramètres régionaux
Comment[nl]=Lokale instellingen
Comment[pl]=Ustawienia językowe
Comment[pt]=Configuração regional
Comment[sk]=Miestne nastavenia
Comment[sv]=Landsinställningar
Comment[uk]=Параметри локалі
Comment[x-test]=xxLocale settingsxx
Encoding=UTF-8
Type=Service
Icon=preferences-desktop-locale
X-KDE-ServiceTypes=Active/SettingsModule
X-KDE-Library=active_settings_locale
X-KDE-PluginInfo-Author=Lamarque V. Souza
X-KDE-PluginInfo-Email=lamarque@kde.org
X-KDE-PluginInfo-Name=org.kde.active.settings.locale
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma-active.org
X-KDE-PluginInfo-Category=Language
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-FormFactors=handset,tablet,mediacenter
X-Plasma-Package=org.kde.active.settings.locale
X-Plasma-MainScript=ui/Locale.qml
