[Desktop Entry]
Name=Language
Name[ast]=Llingua
Name[ca]=Idioma
Name[ca@valencia]=Idioma
Name[cs]=Jazyk
Name[da]=Sprog
Name[de]=Sprache
Name[el]=Γλώσσα
Name[en_GB]=Language
Name[es]=Idioma
Name[fi]=Kieli
Name[fr]=Langue
Name[gl]=Idioma
Name[it]=Lingua
Name[ko]=언어
Name[nl]=Taal
Name[nn]=Språk
Name[pl]=Język
Name[pt]=Língua
Name[pt_BR]=Idioma
Name[ru]=Язык
Name[sk]=Jazyk
Name[sl]=Jezik
Name[sv]=Språk
Name[uk]=Мова
Name[x-test]=xxLanguagexx
Name[zh_CN]=语言
Comment=Locale settings
Comment[ast]=Axustes de locale
Comment[ca]=Ajustaments de la configuració regional
Comment[ca@valencia]=Ajustaments de la configuració regional
Comment[cs]=Místní nastavení
Comment[da]=Sprogindstillinger
Comment[de]=Regionaleinstellungen
Comment[el]=Ρυθμίσεις τοπικότητας
Comment[en_GB]=Locale settings
Comment[es]=Preferencias locales
Comment[fi]=Maa-asetukset
Comment[fr]=Configuration des paramètres régionaux
Comment[gl]=Configuración rexional
Comment[it]=Impostazioni locali
Comment[ko]=로캘 설정
Comment[nl]=Lokale instellingen
Comment[nn]=Språkinnstillingar
Comment[pl]=Ustawienia językowe
Comment[pt]=Configuração regional
Comment[pt_BR]=Configuração da localização
Comment[sk]=Miestne nastavenia
Comment[sl]=Krajevne nastavitve
Comment[sv]=Landsinställningar
Comment[uk]=Параметри локалі
Comment[x-test]=xxLocale settingsxx
Comment[zh_CN]=区域设置
Encoding=UTF-8
Type=Service
Icon=preferences-desktop-locale
X-KDE-ServiceTypes=Active/SettingsModule
X-KDE-Library=active_settings_locale
X-KDE-PluginInfo-Author=Lamarque V. Souza
X-KDE-PluginInfo-Email=lamarque@kde.org
X-KDE-PluginInfo-Name=org.kde.active.settings.locale
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma-active.org
X-KDE-PluginInfo-Category=Language
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-FormFactors=handset,tablet,mediacenter
X-Plasma-Package=org.kde.active.settings.locale
X-Plasma-MainScript=ui/Locale.qml
