[Desktop Entry]
Type=Service
X-KDE-Weight=100
Enabled=false

Name=Hidden
Name[ar]=مخفي
Name[bg]=Скрити
Name[ca]=Ocult
Name[ca@valencia]=Ocult
Name[cs]=Skryté
Name[eo]=Kaŝita
Name[es]=Oculto
Name[eu]=Ezkutuan
Name[fi]=Piilotettu
Name[fr]=Masqué
Name[gl]=Agochada
Name[he]=מוסתר
Name[ia]=Celate
Name[it]=Nascosto
Name[ka]=დამალული
Name[lv]=Slēpts
Name[nl]=Verborgen
Name[pa]=ਓਹਲੇ
Name[pl]=Ukryte
Name[pt_BR]=Oculto
Name[sl]=Skrit
Name[sv]=Dold
Name[ta]=மறைந்தவை
Name[tr]=Gizli
Name[uk]=Приховане
Name[x-test]=xxHiddenxx
Name[zh_CN]=隐藏
Name[zh_TW]=隱藏
