[Desktop Entry]
Type=Service
X-KDE-Weight=100
Enabled=false

Name=Hidden
Name[ca]=Ocult
Name[ca@valencia]=Ocult
Name[cs]=Skryté
Name[eo]=Kaŝita
Name[es]=Oculto
Name[fr]=Masqué
Name[gl]=Agochada
Name[he]=מוסתר
Name[ia]=Celate
Name[ka]=დამალული
Name[nl]=Verborgen
Name[pl]=Ukryte
Name[sl]=Skrit
Name[sv]=Dold
Name[ta]=மறைந்தவை
Name[tr]=Gizli
Name[uk]=Приховане
Name[x-test]=xxHiddenxx
Name[zh_CN]=隐藏
