[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=session
X-KDE-System-Settings-Parent-Category=system-administration
X-KDE-Weight=70
Icon=preferences-system-login

Name=Session
Name[ca]=Sessió
Name[ca@valencia]=Sessió
Name[cs]=Sezení
Name[eo]=Seanco
Name[es]=Sesión
Name[gl]=Sesión
Name[he]=הפעלה
Name[ia]=Session
Name[ka]=სესია
Name[nl]=Sessie
Name[pl]=Posiedzenie
Name[sl]=Seja
Name[sv]=Session
Name[ta]=அமர்வு
Name[tr]=Oturum
Name[uk]=Сеанс
Name[x-test]=xxSessionxx
