[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=font
X-KDE-System-Settings-Parent-Category=appearance
X-KDE-Weight=30
Icon=preferences-desktop-font

Name=Text & Fonts
Name[ar]=النص والخطوط
Name[ca]=Text i lletres
Name[ca@valencia]=Text i lletres
Name[cs]=Text a písmo
Name[eo]=Teksto & Tiparoj
Name[es]=Texto y tipos de letra
Name[fr]=Textes et polices
Name[gl]=Texto e fontes
Name[he]=כתב וגופנים
Name[ia]=Texto e Fonts
Name[ka]=ტექსტი & ფონტები
Name[lv]=Teksts un fonti
Name[nl]=Tekst & lettertypen
Name[pl]=Tekst i czcionki
Name[sl]=Besedilo in pisave
Name[sv]=Text och teckensnitt
Name[ta]=உரையும் எழுத்துருக்களும்
Name[tr]=Metin ve Yazıtipleri
Name[uk]=Текст і шрифти
Name[x-test]=xxText & Fontsxx
Name[zh_CN]=文字和字体
Name[zh_TW]=文字與字型
