[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=rootcategory
X-KDE-System-Settings-Parent-Category=

X-KDE-Weight=1

Name=Root
Name[ar]=الجذر
Name[az]=Root (kök)
Name[bg]=Root
Name[ca]=Arrel
Name[ca@valencia]=Arrel
Name[cs]=Root
Name[de]=Systemverwalter
Name[eo]=Radiko
Name[es]=Root
Name[eu]=Erroa
Name[fi]=Juuri
Name[fr]=Racine
Name[ga]=Forúsáideoir
Name[gl]=Raíz
Name[he]=הרשאות על
Name[ia]=Radice
Name[is]=Rót
Name[it]=Radice
Name[ka]=Root
Name[ko]=루트
Name[lt]=Šaknis
Name[lv]=Sakne
Name[nl]=Hoofdmap
Name[nn]=Rot
Name[pa]=ਰੂਟ
Name[pl]=Katalog główny
Name[pt_BR]=Raiz
Name[ro]=Rădăcină
Name[sl]=Koren
Name[sv]=Systemadministratör
Name[ta]=ரூட்
Name[th]=รูท
Name[tr]=Kök
Name[uk]=Корінь
Name[zh_CN]=Root
Name[zh_TW]=Root
