[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=workspace
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=60
Icon=preferences-desktop

Name=Workspace
