[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=workspace
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=60
Icon=preferences-desktop

Name=Workspace
Name[ar]=مساحة العمل
Name[ca]=Espai de treball
Name[ca@valencia]=Espai de treball
Name[cs]=Pracovní plocha
Name[eo]=Laborspaco
Name[es]=Espacio de trabajo
Name[fr]=Espace de travail
Name[gl]=Espazo de traballo
Name[he]=סביבת עבודה
Name[ia]=Spatio de labor
Name[it]=Area di lavoro
Name[ka]=სამუშაო სივრცე
Name[lv]=Darbvirsma
Name[nl]=Werkruimte
Name[pl]=Przestrzeń pracy
Name[sl]=Delovni prostor
Name[sv]=Arbetsyta
Name[ta]=பணிமேடை
Name[tr]=Çalışma Alanı
Name[uk]=Робочий простір
Name[x-test]=xxWorkspacexx
Name[zh_CN]=工作区
Name[zh_TW]=工作空間
