[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=font
X-KDE-System-Settings-Parent-Category=appearance
X-KDE-Weight=30
Icon=preferences-desktop-font

Name=Text & Fonts
Name[ar]=النص والخطوط
Name[az]=Mətn və şriftlər
Name[bg]=Текст и шрифтове
Name[ca]=Text i lletres
Name[ca@valencia]=Text i lletres
Name[cs]=Text a písmo
Name[de]=Text & Schriftarten
Name[eo]=Teksto & Tiparoj
Name[es]=Texto y tipos de letra
Name[eu]=Testua eta letra-tipoak
Name[fi]=Teksti ja fontit
Name[fr]=Textes et polices
Name[gl]=Texto e fontes
Name[he]=כתב וגופנים
Name[ia]=Texto e Fonts
Name[is]=Texti og letur
Name[it]=Testo e caratteri
Name[ka]=ტექსტი & ფონტები
Name[ko]=텍스트와 글꼴
Name[lv]=Teksts un fonti
Name[nl]=Tekst & lettertypen
Name[nn]=Tekst og skrifter
Name[pa]=ਲਿਖਤ ਅਤੇ ਫ਼ੌਂਟ
Name[pl]=Tekst i czcionki
Name[pt_BR]=Texto e fontes
Name[ru]=Текст и шрифты
Name[sl]=Besedilo in pisave
Name[sv]=Text och teckensnitt
Name[ta]=உரையும் எழுத்துருக்களும்
Name[th]=ข้อความและฟอนต์
Name[tr]=Metin ve Yazıtipleri
Name[uk]=Текст і шрифти
Name[zh_CN]=文字和字体
Name[zh_TW]=文字與字型
