[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=network
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=30
Icon=preferences-system-network-connection

Name=Networking
Name[ar]=الشبكات
Name[az]=İnternet şəbəkəsi
Name[bg]=Мрежа
Name[ca]=Xarxes
Name[ca@valencia]=Xarxes
Name[cs]=Síťové nástroje
Name[de]=Netzwerk
Name[eo]=Retado
Name[es]=Redes
Name[eu]=Saregintza
Name[fi]=Verkko
Name[fr]=Fonctionnement en réseau
Name[ga]=Líonrú
Name[gl]=Rede
Name[he]=תקשורת
Name[ia]=Networking (rete)
Name[is]=Net
Name[it]=Reti
Name[ka]=ქსელი
Name[ko]=네트워크
Name[lt]=Darbas tinkle
Name[lv]=Tīkla iestatījumi
Name[nl]=Netwerken
Name[nn]=Nettverk
Name[pa]=ਨੈੱਟਵਰਕਿੰਗ
Name[pl]=Sieć
Name[pt_BR]=Rede
Name[ro]=Rețelistică
Name[ru]=Сеть и связь
Name[sl]=Omreženje
Name[sv]=Nätverk
Name[ta]=வலையமாக்கம்
Name[th]=ระบบเครือข่าย
Name[tr]=Ağ
Name[uk]=Мережа
Name[zh_CN]=网络
Name[zh_TW]=網路
