[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=windowmanagement
X-KDE-System-Settings-Parent-Category=applications
X-KDE-Weight=30
Icon=preferences-system-windows

Name=Window Management
Name[ca]=Gestió de les finestres
Name[ca@valencia]=Gestioneu les finestres
Name[cs]=Správa oken
Name[eo]=Fenestra Administrado
Name[es]=Gestión de ventanas
Name[fr]=Gestion des fenêtres
Name[gl]=Xestión das xanelas
Name[he]=ניהול חלונות
Name[ia]=Gestion de Fenestra
Name[ka]=ფანჯრების მართვა
Name[nl]=Vensterbeheer
Name[pl]=Zarządzanie oknami
Name[sl]=Upravljanje oken
Name[sv]=Fönsterhantering
Name[ta]=சாளர மேலாண்மை
Name[tr]=Pencere Yönetimi
Name[uk]=Керування вікнами
Name[x-test]=xxWindow Managementxx
Name[zh_CN]=窗口管理
Name[zh_TW]=視窗管理
