[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=personalization
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=65
Icon=preferences-desktop-user

Name=Personalization
