[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=personalization
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=65
Icon=preferences-desktop-user

Name=Personalization
Name[ar]=التخصيص
Name[ca]=Personalització
Name[ca@valencia]=Personalització
Name[cs]=Přizpůsobení
Name[eo]=Tajlorigo
Name[es]=Personalización
Name[fi]=Mukauttaminen
Name[fr]=Personnalisation 
Name[gl]=Personalización
Name[he]=התאמה אישית
Name[ia]=Adaptation personal
Name[it]=Personalizzazione
Name[ka]=პერსონალიზაცია
Name[lv]=Personalizācija
Name[nl]=Persoonlijke instellingen
Name[pa]=ਕਸਟਮਾਈਜ਼
Name[pl]=Dostosowywanie
Name[sl]=Personalizacija
Name[sv]=Anpassning
Name[ta]=தனிப்பயனாக்குவது
Name[tr]=Kişiselleştirme
Name[uk]=Персоналізація
Name[x-test]=xxPersonalizationxx
Name[zh_CN]=个性化
Name[zh_TW]=個人化
