[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=search
X-KDE-System-Settings-Parent-Category=workspace
X-KDE-Weight=20
Icon=preferences-desktop-search

Name=Search
Name[ca]=Cerca
Name[ca@valencia]=Busca
Name[cs]=Hledat
Name[eo]=Serĉi
Name[es]=Búsqueda
Name[fr]=Rechercher
Name[gl]=Busca
Name[he]=חיפוש
Name[ia]=Cerca
Name[ka]=ძებნა
Name[nl]=Zoeken
Name[pl]=Poszukaj
Name[sl]=Iskanje
Name[sv]=Sök
Name[ta]=தேடல்
Name[tr]=Arama
Name[uk]=Пошук
Name[x-test]=xxSearchxx
Name[zh_CN]=搜索
