[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=security-privacy
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=70
Icon=preferences-security

Name=Security & Privacy
Name[ca]=Seguretat i privadesa
Name[ca@valencia]=Seguretat i privadesa
Name[cs]=Zabezpečení a soukromí
Name[eo]=Sekureco & Privateco
Name[es]=Seguridad y privacidad
Name[fr]=Sécurité et confidentialité
Name[gl]=Seguridade e privacidade
Name[he]=אבטחה ופרטיות
Name[ia]=Securitate & Confidentialitate
Name[ka]=უსაფრთხოება & კონფიდენციალობა
Name[nl]=Beveiliging & privacy
Name[pl]=Bezpieczeństwo i prywatność
Name[sl]=Varnost in zasebnost
Name[sv]=Säkerhet och integritet
Name[ta]=தனியுரிமையும் பாதுகாப்பும்
Name[tr]=Güvenlik ve Gizlilik
Name[uk]=Безпека і конфіденційність
Name[x-test]=xxSecurity & Privacyxx
Name[zh_CN]=安全和隐私
Name[zh_TW]=安全性與隱私
