[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=input-devices
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=10
Icon=preferences-desktop-mouse

Name=Input & Output
Name[ca]=Entrada i sortida
Name[ca@valencia]=Entrada i eixida
Name[cs]=Vstup a výstup
Name[eo]=Enigo & Eligo
Name[es]=Entrada y salida
Name[fr]=Entrée et sortie
Name[gl]=Entrada e saída
Name[he]=קלט ופלט
Name[ia]=Ingresso & Egresso
Name[ka]=შეტანა & გამოტანა
Name[nl]=Invoer & uitvoer
Name[pl]=Wejście i wyjście
Name[sl]=Vhod in izhod
Name[sv]=In- och utmatning
Name[ta]=உள்ளீட்டும் வெளியீட்டும்
Name[tr]=Giriş ve Çıkış
Name[uk]=Введення/Виведення
Name[x-test]=xxInput & Outputxx
Name[zh_CN]=输入和输出
Name[zh_TW]=輸入與輸出
