[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=keyboard
X-KDE-System-Settings-Parent-Category=input-devices
X-KDE-Weight=20
Icon=preferences-desktop-keyboard

Name=Keyboard
Name[ca]=Teclat
Name[ca@valencia]=Teclat
Name[cs]=Klávesnice
Name[eo]=Klavaro
Name[es]=Teclado
Name[fr]=Clavier
Name[gl]=Teclado
Name[he]=מקלדת
Name[ia]=Claviero
Name[ka]=კლავიატურა
Name[nl]=Toetsenbord
Name[pl]=Klawiatura
Name[sl]=Tipkovnica
Name[sv]=Tangentbord
Name[ta]=விசைப்பலகை
Name[tr]=Klavye
Name[uk]=Клавіатура
Name[x-test]=xxKeyboardxx
Name[zh_CN]=键盘
