[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=personalization
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=65
Icon=preferences-desktop-user

Name=Personalization
Name[ca]=Personalització
Name[es]=Personalización
Name[he]=התאמה אישית
Name[ia]=Adaptation personal
Name[ka]=პერსონალიზაცია
Name[nl]=Persoonlijke instellingen
Name[sl]=Personalizacija
Name[sv]=Anpassning
Name[tr]=Kişiselleştirme
Name[uk]=Персоналізація
Name[x-test]=xxPersonalizationxx
