[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=font
X-KDE-System-Settings-Parent-Category=appearance
X-KDE-Weight=30
Icon=preferences-desktop-font

Name=Text & Fonts
Name[ca]=Text i lletres
Name[es]=Texto y tipos de letra
Name[he]=כתב וגופנים
Name[ia]=Texto e Fonts
Name[ka]=ტექსტი & ფონტები
Name[nl]=Tekst & lettertypen
Name[sl]=Besedilo in pisave
Name[sv]=Text och teckensnitt
Name[tr]=Metin ve Yazıtipleri
Name[uk]=Текст і шрифти
Name[x-test]=xxText & Fontsxx
