[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=display
X-KDE-System-Settings-Parent-Category=input-devices
X-KDE-Weight=210
Icon=preferences-desktop-display

Name=Display & Monitor
Name[ca]=Pantalla i monitor
Name[ca@valencia]=Pantalla i monitor
Name[cs]=Obrazovka a monitor
Name[es]=Pantalla y monitor
Name[gl]=Pantallas e monitores
Name[he]=תצוגה וצגים
Name[ia]=Monstrator & Monitor
Name[ka]=ჩვენება & ეკრანი
Name[nl]=Scherm & monitor
Name[pl]=Wyświetlanie i monitor
Name[sl]=Prikaz in monitor
Name[sv]=Bildskärm
Name[tr]=Görüntü ve Monitör
Name[uk]=Показ зображення і монітор
Name[x-test]=xxDisplay & Monitorxx
Comment=Display Settings
Comment[ca]=Configuració de la pantalla
Comment[ca@valencia]=Configureu la pantalla
Comment[cs]=Nastavení obrazovky
Comment[es]=Preferencias de la pantalla
Comment[gl]=Configuración de pantallas.
Comment[he]=הגדרות תצוגה
Comment[ia]=Monstra preferentias
Comment[ka]=ეკრანის მორგება
Comment[nl]=Beeldscherminstellingen
Comment[pl]=Ustawienia wyświetlacza
Comment[sl]=Nastavitve prikaza
Comment[sv]=Skärminställningar
Comment[tr]=Görüntü Ayarları
Comment[uk]=Налаштування дисплея
Comment[x-test]=xxDisplay Settingsxx

