[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=audio-and-video
X-KDE-System-Settings-Parent-Category=input-devices
X-KDE-Weight=60
Icon=preferences-desktop-multimedia

Name=Multimedia
Name[ar]=الوسائط المتعدّدة
Name[bg]=Мултимедия
Name[ca]=Multimèdia
Name[ca@valencia]=Multimèdia
Name[cs]=Multimédia
Name[eo]=Aŭdvido
Name[es]=Multimedia
Name[eu]=Multimedia
Name[fi]=Multimedia
Name[fr]=Multimédia
Name[gl]=Multimedia
Name[he]=מולטימדיה
Name[ia]=Multimedia
Name[it]=Multimedia
Name[ka]=მულტიმედია
Name[lv]=Multivide
Name[nl]=Multimedia
Name[pa]=ਮਲਟੀਮੀਡਿਆ
Name[pl]=Multimedia
Name[pt_BR]=Multimídia
Name[sl]=Večpredstavnost
Name[sv]=Multimedia
Name[ta]=பல்லூடகம்
Name[tr]=Çoklu Ortam
Name[uk]=Мультимедіа
Name[x-test]=xxMultimediaxx
Name[zh_CN]=多媒体
Name[zh_TW]=多媒體
