[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=applications
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=50
Icon=applications-all

Name=Apps & Windows
Name[ca]=Aplicacions i finestres
Name[ca@valencia]=Aplicacions i finestres
Name[cs]=Aplikace a okna
Name[eo]=Apoj & Fenestroj
Name[es]=Aplicaciones y ventanas
Name[gl]=Aplicacións e xanelas
Name[he]=יישומים וחלונות
Name[ia]=Apps & Fenestras
Name[ka]=აპები & ფანჯრები
Name[nl]=Toepassingen & vensters
Name[pl]=Aplikacje i okna
Name[sl]=Aplikacije in okna
Name[sv]=Program och fönster
Name[ta]=செயலிகளும் சாளரங்களும்
Name[tr]=Uygulamalar ve Pencereler
Name[uk]=Програми і вікна
Name[x-test]=xxApps & Windowsxx
