[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=search
X-KDE-System-Settings-Parent-Category=workspace
X-KDE-Weight=20
Icon=preferences-desktop-search

Name=Search
Name[ar]=ابحث
Name[az]=Axtarış
Name[bg]=Търсене
Name[ca]=Cerca
Name[ca@valencia]=Busca
Name[cs]=Hledat
Name[de]=Suchen
Name[eo]=Serĉi
Name[es]=Búsqueda
Name[eu]=Bilatu
Name[fi]=Etsi
Name[fr]=Rechercher
Name[ga]=Cuardach
Name[gl]=Busca
Name[he]=חיפוש
Name[ia]=Cerca
Name[is]=Leita
Name[it]=Ricerca
Name[ka]=ძებნა
Name[ko]=검색
Name[lt]=Paieška
Name[lv]=Meklēšana
Name[nl]=Zoeken
Name[nn]=Søk
Name[pa]=ਖੋਜੋ
Name[pl]=Poszukaj
Name[pt_BR]=Procurar
Name[ru]=Поиск
Name[sl]=Iskanje
Name[sv]=Sök
Name[ta]=தேடல்
Name[th]=ค้นหา
Name[tr]=Arama
Name[uk]=Пошук
Name[zh_CN]=搜索
Name[zh_TW]=搜尋
