[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=security-privacy
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=70
Icon=preferences-security

Name=Security & Privacy
Name[ar]=الأمن والخصوصيّة
Name[bg]=Сигурност и лични данни
Name[ca]=Seguretat i privadesa
Name[ca@valencia]=Seguretat i privadesa
Name[cs]=Zabezpečení a soukromí
Name[eo]=Sekureco & Privateco
Name[es]=Seguridad y privacidad
Name[eu]=Segurtasuna eta pribatutasuna
Name[fi]=Tietoturva ja yksityisyys
Name[fr]=Sécurité et confidentialité
Name[gl]=Seguridade e privacidade
Name[he]=אבטחה ופרטיות
Name[ia]=Securitate & Confidentialitate
Name[it]=Sicurezza e riservatezza
Name[ka]=უსაფრთხოება & კონფიდენციალობა
Name[ko]=보안과 개인 정보
Name[lv]=Drošība un privātums
Name[nl]=Beveiliging & privacy
Name[pa]=ਸੁਰੱਖਿਆ ਅਤੇ ਪਰਦੇਦਾਰੀ
Name[pl]=Bezpieczeństwo i prywatność
Name[pt_BR]=Segurança e privacidade
Name[sl]=Varnost in zasebnost
Name[sv]=Säkerhet och integritet
Name[ta]=தனியுரிமையும் பாதுகாப்பும்
Name[tr]=Güvenlik ve Gizlilik
Name[uk]=Безпека і конфіденційність
Name[x-test]=xxSecurity & Privacyxx
Name[zh_CN]=安全和隐私
Name[zh_TW]=安全性與隱私
