[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=display
X-KDE-System-Settings-Parent-Category=input-devices
X-KDE-Weight=210
Icon=preferences-desktop-display

Name=Display & Monitor
Comment=Display Settings

