[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=appearance
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=40
Icon=preferences-desktop-theme-global

Name=Appearance & Style
Name[ca]=Aparença i estil
Name[ca@valencia]=Aparença i estil
Name[cs]=Vzhled a styl
Name[es]=Aspecto y estilo
Name[gl]=Aparencia e estilo
Name[he]=מראה וסגנון
Name[ia]=Apparentia & Stilo
Name[ka]=გარეგნობა & სტილი
Name[nl]=Uiterlijk & stijl
Name[pl]=Wygląd
Name[sl]=Videz in slog
Name[sv]=Utseende och stil
Name[tr]=Görünüş ve Biçem
Name[uk]=Вигляд і стиль
Name[x-test]=xxAppearance & Stylexx
