[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=rootcategory
X-KDE-System-Settings-Parent-Category=

X-KDE-Weight=1

Name=Root
Name[ca]=Arrel
Name[es]=Root
Name[he]=הרשאות על
Name[ia]=Radice
Name[ka]=Root
Name[nl]=Hoofdmap
Name[sl]=Koren
Name[sv]=Systemadministratör
Name[tr]=Kök
Name[uk]=Корінь
Name[x-test]=xxRootxx
