[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=security-privacy
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=70
Icon=preferences-security

Name=Security & Privacy
