[Desktop Entry]
Name=Time and Date
Name[ast]=Hora y data
Name[ca]=Hora i data
Name[ca@valencia]=Hora i data
Name[cs]=Datum a čas
Name[es]=Fecha y hora
Name[fr]=Heure et Date
Name[nl]=Datum en tijd
Name[pl]=Czas i data
Name[pt]=Hora e Data
Name[sk]=Čas a dátum
Name[sv]=Tid och datum
Name[uk]=Час і дата
Name[x-test]=xxTime and Datexx
Name[zh_CN]=时间和日期
Comment=Timezone, Date Display
Comment[ast]=Fusu horariu, Amuesa de data
Comment[ca]=Zona horària, Mostra la data
Comment[ca@valencia]=Zona horària, Mostra la data
Comment[es]=Zona horaria, mostrar la fecha
Comment[fr]=Fuseau horaire, affichage de la date
Comment[nl]=Tijdzone, datumweergave
Comment[pl]=Strefa czasowa, wyświetlanie daty
Comment[pt]=Fuso-Horário, Visualização das Datas
Comment[sv]=Tidszon, datumvisning
Comment[uk]=Часовий пояс, показ дати
Comment[x-test]=xxTimezone, Date Displayxx

Icon=preferences-system-time
Exec=plasma-settings -m kcm_mobile_time

Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_mobile_time
X-KDE-ParentApp=kcontrol
X-KDE-FormFactors=handset,tablet,mediacenter

X-KDE-System-Settings-Parent-Category=regionalsettings
X-KDE-Weight=70

X-KDE-Keywords=theme, look, feel
X-KDE-Keywords[ast]=tema, aseputu, sentir
X-KDE-Keywords[ca]=tema, aspecte, comportament
X-KDE-Keywords[ca@valencia]=tema, aspecte, comportament
X-KDE-Keywords[cs]=motiv,vzhled,chování
X-KDE-Keywords[es]=tema, aspecto, visual
X-KDE-Keywords[fr]=thème, apparence, comportement, graphique
X-KDE-Keywords[nl]=thema, uiterlijk, gedrag
X-KDE-Keywords[pl]=wystrój, wygląd, odczucia, wrażenia
X-KDE-Keywords[pt]=tema, aparência, comportamento
X-KDE-Keywords[sk]=téma, vzhľad, nastavenie
X-KDE-Keywords[sv]=tema, utseende, känsla
X-KDE-Keywords[uk]=theme,look,feel,тема,вигляд,поведінка
X-KDE-Keywords[x-test]=xxthemexx,xx lookxx,xx feelxx
X-KDE-Keywords[zh_CN]=theme, look, feel, 主题, 观感
Categories=Qt;KDE;X-KDE-settings-system;
