[Desktop Entry]
Name=Appearance
Name[ast]=Aspeutu
Name[ca]=Aparença
Name[ca@valencia]=Aparença
Name[cs]=Vzhled
Name[da]=Udseende
Name[de]=Erscheinungsbild
Name[el]=Εμφάνιση
Name[en_GB]=Appearance
Name[es]=Aspecto visual
Name[fi]=Ulkoasu
Name[fr]=Apparence
Name[nl]=Uiterlijk
Name[pl]=Wygląd
Name[pt]=Aparência
Name[sk]=Vzhľad
Name[sl]=Videz
Name[sv]=Utseende
Name[uk]=Вигляд
Name[x-test]=xxAppearancexx
Name[zh_CN]=外观
Comment=Look and Feel
Comment[ast]=Aspeutu y sentir
Comment[ca]=Aspecte i comportament
Comment[ca@valencia]=Aspecte i comportament
Comment[cs]=Vzhled a dojem
Comment[da]=Udseende og fremtoning
Comment[de]=Erscheinungsbild
Comment[el]=Όψη και αίσθηση
Comment[en_GB]=Look and Feel
Comment[es]=Aspecto visual
Comment[fi]=Ulkoasu ja tuntuma
Comment[nl]=Uiterlijk en gedrag
Comment[pl]=Wrażenia wzrokowe i dotykowe
Comment[pt]=Aparência e Comportamento
Comment[sk]=Vzhľad a nastavenie
Comment[sl]=Videz in občutek
Comment[sv]=Utseende och känsla
Comment[uk]=Вигляд і поведінка
Comment[x-test]=xxLook and Feelxx
Comment[zh_CN]=观感

Icon=preferences-desktop-theme
Exec=plasma-settings -m kcm_mobile_theme

Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_mobile_theme
X-KDE-ParentApp=kcontrol
X-KDE-FormFactors=handset,tablet,mediacenter

X-KDE-System-Settings-Parent-Category=regionalsettings
X-KDE-Weight=70

X-KDE-Keywords=theme, look, feel
X-KDE-Keywords[ast]=tema, aseputu, sentir
X-KDE-Keywords[ca]=tema, aspecte, comportament
X-KDE-Keywords[ca@valencia]=tema, aspecte, comportament
X-KDE-Keywords[cs]=motiv,vzhled,chování
X-KDE-Keywords[da]=tema, udseende, fremtoning
X-KDE-Keywords[el]=θέμα, όψη, αίσθηση
X-KDE-Keywords[en_GB]=theme, look, feel
X-KDE-Keywords[es]=tema, aspecto, visual
X-KDE-Keywords[fi]=teema, ulkoasu, tuntuma
X-KDE-Keywords[fr]=thème, apparence, comportement, graphique
X-KDE-Keywords[nl]=thema, uiterlijk, gedrag
X-KDE-Keywords[pl]=wystrój, wygląd, odczucia, wrażenia
X-KDE-Keywords[pt]=tema, aparência, comportamento
X-KDE-Keywords[sk]=téma, vzhľad, nastavenie
X-KDE-Keywords[sl]=tema, videz, občutek
X-KDE-Keywords[sv]=tema, utseende, känsla
X-KDE-Keywords[uk]=theme,look,feel,тема,вигляд,поведінка
X-KDE-Keywords[x-test]=xxthemexx,xx lookxx,xx feelxx
X-KDE-Keywords[zh_CN]=theme, look, feel, 主题, 观感
Categories=Qt;KDE;X-KDE-settings-system;
