[Desktop Entry]
Name=Appearance
Comment=Look and Feel

Icon=preferences-desktop-theme
Exec=active-settings -m kcm_mobile_theme

Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_mobile_theme
X-KDE-ParentApp=kcontrol
X-KDE-FormFactors=handset,tablet,mediacenter

X-KDE-System-Settings-Parent-Category=regionalsettings
X-KDE-Weight=70

X-KDE-Keywords=theme, look, feel
Categories=Qt;KDE;X-KDE-settings-system;
