[Desktop Entry]
Name=Cellular Network
Name[az]=Mobil Şəbəkə
Name[ca]=Xarxa de telefonia mòbil
Name[ca@valencia]=Xarxa de telefonia mòbil
Name[cs]=Mobilní síť
Name[en_GB]=Cellular Network
Name[es]=Red móvil
Name[eu]=Mugikorrerako sareak
Name[fi]=Matkapuhelinverkko
Name[fr]=Réseau cellulaire
Name[hu]=Mobilhálózatok
Name[ia]=Rete Cellular
Name[it]=Rete cellulare
Name[ko]=모바일 네트워크
Name[lt]=Korinis tinklas
Name[nl]=Cellulair netwerk
Name[nn]=Mobilnettverk
Name[pa]=ਸੈਲੂਲਰ ਨੈੱਟਵਰਕ
Name[pl]=Sieci komórkowe
Name[pt]=Rede Móvel
Name[pt_BR]=Rede celular
Name[ru]=Сотовая сеть
Name[sl]=Mobilno omrežje
Name[sv]=Mobilnät
Name[uk]=Стільникова мережа
Name[vi]=Mạng di động
Name[x-test]=xxCellular Networkxx
Name[zh_CN]=移动网络
Comment=Management of cellular networks
Comment[ast]=Xestión de redes pa móviles
Comment[az]=Mobil Şəbəkələr Meneceri
Comment[ca]=Gestió de xarxes de telefonia mòbil
Comment[ca@valencia]=Gestió de xarxes de telefonia mòbil
Comment[cs]=Spravovat vaše mobilní sítě
Comment[da]=Håndtering af mobilnetværk
Comment[de]=Verwaltung von Mobilfunknetzen
Comment[en_GB]=Management of cellular networks
Comment[es]=Gestión de redes móviles
Comment[et]=Mobiilsidevõrkude haldamine
Comment[eu]=Mugikorrerako sareen kudeaketa
Comment[fi]=Matkapuhelinverkkojen hallinta
Comment[fr]=Gestion de réseaux cellulaires
Comment[hu]=Mobilhálózatok kezelése
Comment[ia]=Gestion de retes cellular
Comment[it]=Gestione delle reti cellulari
Comment[ko]=모바일 네트워크 관리
Comment[lt]=Korinių tinklų tvarkymas
Comment[nl]=Beheer van cellulaire netwerken
Comment[nn]=Handsaming av mobilnettverk
Comment[pa]=ਸੈਲੂਲਰ ਨੈੱਟਵਰਕਾਂ ਦਾ ਇੰਤਜ਼ਾਮ ਕਰੋ
Comment[pl]=Zarządzanie sieciami komórkowymi
Comment[pt]=Gestão de redes móveis
Comment[pt_BR]=Gerenciamento de redes celulares
Comment[ro]=Gestiunea rețelelor celulare
Comment[ru]=Управление сотовыми сетями
Comment[sk]=Správa mobilných sietí
Comment[sl]=Upravljanje mobilnih omrežij
Comment[sv]=Hantering av mobilnät
Comment[tr]=Hücresel ağ yönetimi
Comment[uk]=Керування стільниковими мережами
Comment[vi]=Quản lí các mạng di dộng
Comment[x-test]=xxManagement of cellular networksxx
Comment[zh_CN]=管理移动网络
Encoding=UTF-8
Type=Service
Icon=smartphone
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_cellular_network
X-KDE-PluginInfo-Author=Devin Lin
X-KDE-PluginInfo-Email=espidev@gmail.com
X-KDE-PluginInfo-Name=kcm_cellular_network
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://plasma-mobile.org/
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-FormFactors=handset,tablet,mediacenter
X-Plasma-Package=kcm_cellular_network
X-Plasma-MainScript=ui/main.qml

