[Desktop Entry]
Name=Cellular Networks
Name[ca]=Xarxes de telefonia mòbil
Name[cs]=Mobilní sítě
Name[de]=Mobilfunknetze
Name[en_GB]=Cellular Networks
Name[es]=Redes móviles
Name[eu]=Mugikor sareak
Name[fi]=Matkapuhelinverkot
Name[fr]=Réseaux cellulaires
Name[it]=Reti cellulari
Name[ko]=모바일 네트워크
Name[nl]=Cellulaire netwerken
Name[pt]=Redes Móveis
Name[pt_BR]=Redes celulares
Name[sk]=Mobilné siete
Name[sl]=Mobilna omrežja
Name[sv]=Mobilnät
Name[uk]=Стільникові мережі
Name[x-test]=xxCellular Networksxx
Comment=Management of cellular networks
Comment[ca]=Gestió de xarxes de telefonia mòbil
Comment[cs]=Spravovat vaše mobilní sítě
Comment[de]=Verwaltung von Mobilfunknetzen
Comment[en_GB]=Management of cellular networks
Comment[es]=Gestión de redes móviles
Comment[eu]=Mugikor sareen kudeaketa
Comment[fi]=Matkapuhelinverkkojen hallinta
Comment[fr]=Gestion de réseaux cellulaires
Comment[it]=Gestione delle reti cellulari
Comment[ko]=모바일 네트워크 관리
Comment[nl]=Beheer van cellulaire netwerken
Comment[pt]=Gestão de redes móveis
Comment[pt_BR]=Gerenciamento de redes celulares
Comment[sk]=Správa mobilných sietí
Comment[sl]=Upravljanje mobilnih omrežij
Comment[sv]=Hantering av mobilnät
Comment[uk]=Керування стільниковими мережами
Comment[x-test]=xxManagement of cellular networksxx
Encoding=UTF-8
Type=Service
Icon=network-modem
X-KDE-ServiceTypes=SettingsModule
X-KDE-PluginInfo-Author=Dimitris Kardarakos
X-KDE-Library=kcm_mobile_cellularnetwork
X-KDE-PluginInfo-Name=kcm_mobile_cellularnetwork
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma-mobile.org
X-KDE-PluginInfo-License=GPL
X-KDE-FormFactors=handset,tablet
X-Plasma-MainScript=ui/main.qml
