[Desktop Entry]
Name=Virtual Keyboard
Name[ast]=Tecláu virtual
Name[az]=Virtual Klaviatura
Name[ca]=Teclat virtual
Name[ca@valencia]=Teclat virtual
Name[en_GB]=Virtual Keyboard
Name[es]=Teclado virtual
Name[eu]=Alegiazko teklatua
Name[ia]=Claviero virtual
Name[it]=Tastiera virtuale
Name[lt]=Virtuali klaviatūra
Name[nl]=Virtueel toetsenbord
Name[nn]=Virtuelt tastatur
Name[pt]=Teclado Virtual
Name[pt_BR]=Teclado virtual
Name[sk]=Virtuálna klávesnica
Name[sl]=Navidezna tipkovnica
Name[sv]=Virtuellt tangentbord
Name[uk]=Віртуальна клавіатура
Name[x-test]=xxVirtual Keyboardxx
Comment=Virtual Keyboard configuration
Comment[ast]=Configuración del tecláu virtual
Comment[az]=Virtual Klaviatura tənzimləmələri
Comment[ca]=Configuració del teclat virtual
Comment[ca@valencia]=Configuració del teclat virtual
Comment[en_GB]=Virtual Keyboard configuration
Comment[es]=Configuración del teclado virtual
Comment[eu]=Alegiazko teklatuak konfiguratzea
Comment[ia]=Configuration de Claviero virtual
Comment[it]=Configurazione della tastiera virtuale
Comment[lt]=Virtualios klaviatūros konfigūracija
Comment[nl]=Configuratie van virtueel toetsenbord
Comment[nn]=Oppsett av virtuelt tastatur
Comment[pt]=Configuração do Teclado Virtual
Comment[pt_BR]=Configuração do teclado virtual
Comment[sk]=Nastavenie virtuálnej klávesnice
Comment[sl]=Nastvitev navidezne tipkovnice
Comment[sv]=Inställning av virtuellt tangentbord
Comment[uk]=Налаштування віртуальної клавіатури
Comment[x-test]=xxVirtual Keyboard configurationxx
Encoding=UTF-8
Type=Service
Icon=input-keyboard
X-KDE-ServiceTypes=KCModule
X-KDE-PluginInfo-Author=Bhushan Shah
X-KDE-Library=kcm_mobile_virtualkeyboard
X-KDE-PluginInfo-Name=kcm_mobile_virtualkeyboard
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://plasma-mobile.org
X-KDE-PluginInfo-License=GPL
X-KDE-FormFactors=handset,tablet
X-KDE-Keywords=virtualkeyboard,keyboard
X-KDE-Keywords[ast]=tecláu virtual,tecláu
X-KDE-Keywords[az]=virtualkeyboard,keyboard,virtual klaviatura
X-KDE-Keywords[ca]=teclat virtual,teclat
X-KDE-Keywords[ca@valencia]=teclat virtual,teclat
X-KDE-Keywords[en_GB]=virtualkeyboard,keyboard
X-KDE-Keywords[es]=tecladovirtual,teclado
X-KDE-Keywords[eu]=alegiazko teklatua,teklatua
X-KDE-Keywords[ia]=virtualkeyboard,keyboard
X-KDE-Keywords[it]=tastieravirtuale,tastiera
X-KDE-Keywords[lt]=virtualiklaviatūra,virtualiklaviatura,virtuali klaviatūra,virtuali klaviatura,klaviatūra,klaviatura
X-KDE-Keywords[nl]=virtueeltoetsenbord,toetsenbord
X-KDE-Keywords[nn]=virtuelt tastatur,tastatur
X-KDE-Keywords[pt]=teclado virtual,teclado
X-KDE-Keywords[pt_BR]=teclado virtual,teclado,virtual
X-KDE-Keywords[sk]=virtuálna klávesnica, klávesnica
X-KDE-Keywords[sl]=navidezna tipkovnice,tipkovnica
X-KDE-Keywords[sv]=virtuellt tangentbord,tangentbord
X-KDE-Keywords[uk]=virtualkeyboard,keyboard,віртуальна,клавіатура,клавіші
X-KDE-Keywords[x-test]=xxvirtualkeyboardxx,xxkeyboardxx
X-Plasma-MainScript=ui/main.qml
Exec=plasma-settings -m kcm_mobile_virtualkeyboard
