[Desktop Entry]
Name=Accounts
Name[ca]=Comptes
Name[ca@valencia]=Comptes
Name[cs]=Účty
Name[es]=Cuentas
Name[fr]=Comptes
Name[nl]=Accounts
Name[pt]=Contas
Name[sk]=Účty
Name[sv]=Konton
Name[uk]=Облікові записи
Name[x-test]=xxAccountsxx
Comment=Add Your Online Accounts
Comment[ca]=Afegiu els vostres comptes en línia
Comment[ca@valencia]=Afegiu els vostres comptes en línia
Comment[cs]=Přidejte svoje účty online
Comment[es]=Añadir cuentas en línea
Comment[nl]=Uw online accounts toevoegen
Comment[pt]=Adicionar as Suas Contas 'Online'
Comment[sv]=Lägg till dina nätkonton
Comment[uk]=Додавання ваших облікових записів
Comment[x-test]=xxAdd Your Online Accountsxx

Encoding=UTF-8
Type=Service
Icon=applications-internet
X-KDE-ServiceTypes=Active/SettingsModule
X-KDE-PluginInfo-Author=Martin Klapetek
X-KDE-PluginInfo-Email=mklapetek@kde.org
X-KDE-PluginInfo-Name=kaccounts
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kde.org
X-KDE-PluginInfo-Category=Network
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-FormFactors=handset,tablet,mediacenter
X-Plasma-MainScript=ui/Accounts.qml
