[Desktop Entry]
Name=Accounts
Name[ca]=Comptes
Name[ca@valencia]=Comptes
Name[cs]=Účty
Name[da]=Konti
Name[de]=Zugänge
Name[el]=Λογαριασμοί
Name[en_GB]=Accounts
Name[es]=Cuentas
Name[fi]=Tilit
Name[fr]=Comptes
Name[gl]=Contas
Name[it]=Account
Name[ko]=계정
Name[lt]=Paskyros
Name[nl]=Accounts
Name[nn]=Kontoar
Name[pl]=Konta
Name[pt]=Contas
Name[pt_BR]=Contas
Name[sk]=Účty
Name[sl]=Računi
Name[sv]=Konton
Name[uk]=Облікові записи
Name[x-test]=xxAccountsxx
Name[zh_CN]=帐户
Name[zh_TW]=帳號
Comment=Add Your Online Accounts
Comment[ca]=Afegiu els vostres comptes en línia
Comment[ca@valencia]=Afegiu els vostres comptes en línia
Comment[cs]=Přidejte svoje účty online
Comment[da]=Tilføj dine onlinekonti
Comment[de]=Fügen Sie Ihre Online-Zugänge hinzu
Comment[el]=Προσθέστε τους διαδικτυακούς σας λογαριασμούς
Comment[en_GB]=Add Your Online Accounts
Comment[es]=Añadir cuentas en línea
Comment[fi]=Lisää verkkotilisi
Comment[fr]=Ajouter vos comptes en ligne
Comment[gl]=Engadir as contas de internet
Comment[it]=Aggiungi i tuoi account online
Comment[ko]=내 온라인 계정 추가
Comment[lt]=Pridėti savo internetines paskyras
Comment[nl]=Uw online accounts toevoegen
Comment[nn]=Legg til nettkontoar
Comment[pl]=Dodaj swoje konta internetowe
Comment[pt]=Adicionar as Suas Contas 'Online'
Comment[pt_BR]=Adicione suas contas online
Comment[sl]=Dodajte vaše spletne račune
Comment[sv]=Lägg till dina nätkonton
Comment[uk]=Додавання ваших облікових записів
Comment[x-test]=xxAdd Your Online Accountsxx
Comment[zh_CN]=添加您的在线帐号
Comment[zh_TW]=新增您的網路帳號

Encoding=UTF-8
Type=Service
Icon=applications-internet
X-KDE-ServiceTypes=Active/SettingsModule
X-KDE-PluginInfo-Author=Martin Klapetek
X-KDE-PluginInfo-Email=mklapetek@kde.org
X-KDE-PluginInfo-Name=kcm_mobile_kaccounts
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://plasma-mobile.org
X-KDE-PluginInfo-Category=Network
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-FormFactors=handset,tablet,mediacenter
X-Plasma-MainScript=ui/Accounts.qml
