[Desktop Entry]
Name=About Phone
Comment=Information about Plasma

Icon=emblem-information
Exec=plasma-settings -m aboutphone

Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ParentApp=kcontrol
X-KDE-FormFactors=handset,tablet

X-KDE-Weight=70

X-KDE-Keywords=about, info
Categories=Qt;KDE;X-KDE-settings-system;

