[Desktop Entry]
Name=Appearance
Name[ast]=Aspeutu
Name[ca]=Aparença
Name[ca@valencia]=Aparença
Name[cs]=Vzhled
Name[da]=Udseende
Name[el]=Εμφάνιση
Name[es]=Aspecto visual
Name[fr]=Apparence
Name[nl]=Uiterlijk
Name[pl]=Wygląd
Name[pt]=Aparência
Name[sk]=Vzhľad
Name[sv]=Utseende
Name[uk]=Вигляд
Name[x-test]=xxAppearancexx
Name[zh_CN]=外观
Comment=Font and Theme
Comment[ast]=Fonte y tema
Comment[ca]=Tipus de lletra i tema
Comment[ca@valencia]=Tipus de lletra i tema
Comment[da]=Skrifttype og tema
Comment[el]=Γραμματοσειρά και Θέμα
Comment[es]=Tipo de letra y tema
Comment[nl]=Lettertype en thema
Comment[pl]=Czcionka i wygląd
Comment[pt]=Tipo de Letra e Tema
Comment[sv]=Teckensnitt och tema
Comment[uk]=Шрифт і тема
Comment[x-test]=xxFont and Themexx
Encoding=UTF-8
Type=Service
Icon=preferences-desktop-theme
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_mobile_theme
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=kcm_mobile_theme
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma-mobile.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-FormFactors=handset,tablet,mediacenter
X-Plasma-Package=kcm_mobile_theme
X-Plasma-MainScript=ui/Theme.qml
