[Desktop Entry]
Name=Appearance
Name[nl]=Uiterlijk
Name[sv]=Utseende
Name[uk]=Вигляд
Name[x-test]=xxAppearancexx
Comment=Font and Theme
Comment[nl]=Lettertype en thema
Comment[sv]=Teckensnitt och tema
Comment[uk]=Шрифт і тема
Comment[x-test]=xxFont and Themexx
Encoding=UTF-8
Type=Service
Icon=preferences-desktop-theme
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_mobile_theme
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=kcm_mobile_theme
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma-mobile.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-FormFactors=handset,tablet,mediacenter
X-Plasma-Package=kcm_mobile_theme
X-Plasma-MainScript=ui/Theme.qml
