[Desktop Entry]
Name=Information
Name[ca]=Informació
Name[cs]=Informace
Name[en_GB]=Information
Name[es]=Información
Name[gl]=Información
Name[it]=Informazioni
Name[lt]=Informacija
Name[nl]=Informatie
Name[pt]=Informação
Name[pt_BR]=Informações
Name[sv]=Information
Name[uk]=Інформація
Name[x-test]=xxInformationxx
Name[zh_TW]=資訊
Comment=Software Versions
Comment[ca]=Versions de programari
Comment[en_GB]=Software Versions
Comment[es]=Versiones de software
Comment[gl]=Versións de software
Comment[it]=Versioni software
Comment[lt]=Programinės įrangos versijos
Comment[nl]=Softwareversies
Comment[pt]=Versões do 'Software'
Comment[pt_BR]=Versões do software
Comment[sv]=Programvaruversioner
Comment[uk]=Версії програмного забезпечення
Comment[x-test]=xxSoftware Versionsxx
Comment[zh_TW]=軟體版本
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_mobile_info
X-KDE-FormFactors=handset,tablet,mediacenter
Categories=Qt;KDE;X-KDE-settings-system;
X-KDE-Keywords=info, distro, system
X-KDE-Keywords[ca]=informació, distribució, sistema
X-KDE-Keywords[en_GB]=info, distro, system
X-KDE-Keywords[es]=información, distro, sistema
X-KDE-Keywords[gl]=info, información, distro, distribución, sistema
X-KDE-Keywords[it]=informazioni, distribuzione, sistema
X-KDE-Keywords[lt]=informacija, platinamasis paketas, platinimas, distribucija, sistema
X-KDE-Keywords[nl]=informatie, distributie, systeem
X-KDE-Keywords[pt]=informação, distribuição, sistema
X-KDE-Keywords[pt_BR]=informação, info, distro, distribuição, sistema
X-KDE-Keywords[sv]=information, distribution, system
X-KDE-Keywords[uk]=info, distro, system, інфо, відомості, дистрибутив, система
X-KDE-Keywords[x-test]=xxinfoxx,xx distroxx,xx systemxx
X-KDE-Keywords[zh_TW]=info, distro, system, 資訊, 發行版, 系統, 信息
X-KDE-ParentApp=kcontrol
Exec=plasma-settings -m kcm_mobile_info
