[Desktop Entry]
Name=Information
Name[ca]=Informació
Name[es]=Información
Name[lt]=Informacija
Name[nl]=Informatie
Name[pt]=Informação
Name[uk]=Інформація
Name[x-test]=xxInformationxx
Name[zh_TW]=資訊
Comment=Software Versions
Comment[ca]=Versions de programari
Comment[es]=Versiones de software
Comment[lt]=Programinės įrangos versijos
Comment[nl]=Softwareversies
Comment[pt]=Versões do 'Software'
Comment[uk]=Версії програмного забезпечення
Comment[x-test]=xxSoftware Versionsxx
Comment[zh_TW]=軟體版本
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_mobile_info
X-KDE-FormFactors=handset,tablet,mediacenter
Categories=Qt;KDE;X-KDE-settings-system;
X-KDE-Keywords=info, distro, system
X-KDE-Keywords[ca]=informació, distribució, sistema
X-KDE-Keywords[es]=información, distro, sistema
X-KDE-Keywords[lt]=informacija, platinamasis paketas, platinimas, distribucija, sistema
X-KDE-Keywords[nl]=informatie, distributie, systeem
X-KDE-Keywords[pt]=informação, distribuição, sistema
X-KDE-Keywords[uk]=info, distro, system, інфо, відомості, дистрибутив, система
X-KDE-Keywords[x-test]=xxinfoxx,xx distroxx,xx systemxx
X-KDE-Keywords[zh_TW]=info, distro, system, 資訊, 發行版, 系統, 信息
X-KDE-ParentApp=kcontrol
Exec=plasma-settings -m kcm_mobile_info
