[Desktop Entry]
Name=Mobile Settings
Name[ca]=Ajustaments per al mòbil
Name[ca@valencia]=Ajustaments per al mòbil
Name[es]=Preferencias del móvil
Name[nl]=Instellingen voor mobiel
Name[pl]=Ustawienia mobilne
Name[pt]=Configuração Móvel
Name[sv]=Mobilinställningar
Name[uk]=Параметри мобільного
Name[x-test]=xxMobile Settingsxx
Comment=Touchscreen friendly settings UI for Active
Comment[ca]=Ajustaments fàcils de la pantalla tàctil per a Active
Comment[ca@valencia]=Ajustaments fàcils de la pantalla tàctil per a Active
Comment[es]=Interfaz de preferencias amigables de pantalla táctil para Active
Comment[fr]=Interface de configuration conviviale avec écran tactile pour Active
Comment[nl]=Aanraakschermvriendelijke instellingen van UI voor Active
Comment[pl]=Ustawienia interfejsu przyjazne użytkownikowi dla Active
Comment[pt]=UI de configuração do Active amigável para ecrãs tácteis
Comment[sv]=Pekskärmsvänliga inställningar av användargränssnitt för Active
Comment[uk]=Інтерфейс параметрів сенсорного доступу для мобільного режиму
Comment[x-test]=xxTouchscreen friendly settings UI for Activexx
Encoding=UTF-8
Type=Service
Icon=preferences-desktop
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=org.kde.active.settings
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma-active.org
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=ui/ActiveSettings.qml
