[Desktop Entry]
Name=Screen
Comment=Lock, Sleep, Timeout

Icon=preferences-system-power-management
Exec=active-settings -m kcm_mobile_power

Type=Service
X-KDE-ServiceTypes=KCModule

#X-KDE-Library=kcm_mobile_power
X-KDE-ParentApp=kcontrol
X-KDE-FormFactors=handset,tablet,mediacenter

X-KDE-System-Settings-Parent-Category=display
X-KDE-Weight=70

X-KDE-Keywords=video, monitor, graphics, timeout, sleep, lock, screenlocker, screensaver
Categories=Qt;KDE;X-KDE-settings-system;

