[Desktop Entry]
Name=Screen
Name[ca]=Pantalla
Name[ca@valencia]=Pantalla
Name[cs]=Obrazovka
Name[es]=Pantalla
Name[fr]=Écran
Name[nl]=Scherm
Name[pl]=Ekran
Name[pt]=Ecrã
Name[sk]=Obrazovka
Name[sv]=Bildskärm
Name[uk]=Екран
Name[x-test]=xxScreenxx
Name[zh_CN]=屏幕
Comment=Lock, Sleep, Timeout
Comment[ca]=Bloqueja, adorm, Temps d'espera
Comment[ca@valencia]=Bloqueja, adorm, Temps d'espera
Comment[es]=Bloquear, hibernar, tiempo de espera
Comment[fr]=Verrou, mise en sommeil, temps imparti
Comment[nl]=Vergrendelen, onderbreken, tijdslimiet
Comment[pl]=Zablokuj,Uśpij,Czasomierz
Comment[pt]=Bloquear, Suspender, Tempo-Limite
Comment[sv]=Lås, viloläge, tidsgräns
Comment[uk]=Блокування, присипляння, час очікування
Comment[x-test]=xxLock, Sleep, Timeoutxx

Icon=preferences-system-power-management
Exec=plasma-settings -m kcm_mobile_power

Type=Service
X-KDE-ServiceTypes=KCModule

#X-KDE-Library=kcm_mobile_power
X-KDE-ParentApp=kcontrol
X-KDE-FormFactors=handset,tablet,mediacenter

X-KDE-System-Settings-Parent-Category=display
X-KDE-Weight=70

X-KDE-Keywords=video, monitor, graphics, timeout, sleep, lock, screenlocker, screensaver
X-KDE-Keywords[ca]=vídeo, monitor, gràfics, temps d'espera, adorm, bloqueja, bloqueig de la pantalla, salvapantalles
X-KDE-Keywords[ca@valencia]=vídeo, monitor, gràfics, temps d'espera, adorm, bloqueja, bloqueig de la pantalla, salvapantalles
X-KDE-Keywords[es]=vídeo, monitor, gráficos, tiempo de espera, hibernar, bloquear, bloqueo de pantalla, salvapantallas
X-KDE-Keywords[nl]=video, monitor, grafisch, tijdslimiet, onderbreken, vergrendelen, schermvergrendelaar, schermbeveiliging
X-KDE-Keywords[pl]=video, monitor, grafika, timeout, uśpij, zablokuj, blokada ekranu, wygaszacz ekranu
X-KDE-Keywords[pt]=vídeo, monitor, gráfica, tempo-limite, suspender, bloquear, bloqueio de ecrã, protector de ecrã
X-KDE-Keywords[sv]=video, bildskärm, grafik, tidsgräns, viloläge, låsning, skärmlåsning, skärmsläckare
X-KDE-Keywords[uk]=video, monitor, graphics, timeout, sleep, lock, screenlocker, screensaver, відео, монітор, графіка, час очікування, присипляння, блокування, збереження, екран
X-KDE-Keywords[x-test]=xxvideoxx,xx monitorxx,xx graphicsxx,xx timeoutxx,xx sleepxx,xx lockxx,xx screenlockerxx,xx screensaverxx
Categories=Qt;KDE;X-KDE-settings-system;

