[Desktop Entry]
Name=Screen
Name[ast]=Pantalla
Name[ca]=Pantalla
Name[ca@valencia]=Pantalla
Name[cs]=Obrazovka
Name[da]=Skærm
Name[de]=Bildschirm
Name[el]=Οθόνη
Name[en_GB]=Screen
Name[es]=Pantalla
Name[fi]=Näyttö
Name[fr]=Écran
Name[gl]=Pantalla
Name[it]=Schermo
Name[nl]=Scherm
Name[pl]=Ekran
Name[pt]=Ecrã
Name[pt_BR]=Tela
Name[sk]=Obrazovka
Name[sl]=Zaslon
Name[sv]=Bildskärm
Name[uk]=Екран
Name[x-test]=xxScreenxx
Name[zh_CN]=屏幕
Comment=Lock, Sleep, Timeout
Comment[ca]=Bloqueja, adorm, Temps d'espera
Comment[ca@valencia]=Bloqueja, adorm, Temps d'espera
Comment[da]=Lås, slumre, tidsudløb
Comment[el]=Κλείδωμα, ύπνωση, χρονικό όριο
Comment[en_GB]=Lock, Sleep, Timeout
Comment[es]=Bloquear, hibernar, tiempo de espera
Comment[fi]=Lukitus, Keskeytystila, Aikakatkaisu
Comment[fr]=Verrou, mise en sommeil, temps imparti
Comment[gl]=Bloquear, hibernar, tempo límite
Comment[it]=Blocca, Attendi, Tempo massimo
Comment[nl]=Vergrendelen, onderbreken, tijdslimiet
Comment[pl]=Zablokuj,Uśpij,Czasomierz
Comment[pt]=Bloquear, Suspender, Tempo-Limite
Comment[pt_BR]=Bloquear, Suspender, Tempo limite
Comment[sl]=Zaklep, spanje, časovna omejitev
Comment[sv]=Lås, viloläge, tidsgräns
Comment[uk]=Блокування, присипляння, час очікування
Comment[x-test]=xxLock, Sleep, Timeoutxx
Comment[zh_CN]=锁屏，睡眠，超时

Icon=preferences-system-power-management
Exec=plasma-settings -m kcm_mobile_power

Type=Service
X-KDE-ServiceTypes=KCModule

#X-KDE-Library=kcm_mobile_power
X-KDE-ParentApp=kcontrol
X-KDE-FormFactors=handset,tablet,mediacenter

X-KDE-System-Settings-Parent-Category=display
X-KDE-Weight=70

X-KDE-Keywords=video, monitor, graphics, timeout, sleep, lock, screenlocker, screensaver
X-KDE-Keywords[ca]=vídeo, monitor, gràfics, temps d'espera, adorm, bloqueja, bloqueig de la pantalla, estalvi de pantalla
X-KDE-Keywords[ca@valencia]=vídeo, monitor, gràfics, temps d'espera, adorm, bloqueja, bloqueig de la pantalla, estalvi de pantalla
X-KDE-Keywords[da]=video, skærm, grafik, tidsudløb, slumre, lås, skærmlåsning, pauseskærm
X-KDE-Keywords[el]=βίντεο, οθόνη, γραφικά, χρονικό όριο, ύπνωση, κλείδωμα, κλείδωμα οθόνης, προστασία οθόνης
X-KDE-Keywords[en_GB]=video, monitor, graphics, timeout, sleep, lock, screenlocker, screensaver
X-KDE-Keywords[es]=vídeo, monitor, gráficos, tiempo de espera, hibernar, bloquear, bloqueo de pantalla, salvapantallas
X-KDE-Keywords[fi]=video, näyttö, grafiikka, aikakatkaisu, keskeytystila, lukitus, näyttölukko, näytönsäästäjä
X-KDE-Keywords[gl]=vídeo, monitor, gráficos, tempo límite, hibernar, bloquear, bloqueador de pantalla, salvapantallas
X-KDE-Keywords[it]=video, monitor, grafica, tempo massimo, attendi, blocca, bloccaschermo, salvaschermo
X-KDE-Keywords[nl]=video, monitor, grafisch, tijdslimiet, onderbreken, vergrendelen, schermvergrendelaar, schermbeveiliging
X-KDE-Keywords[pl]=video, monitor, grafika, timeout, uśpij, zablokuj, blokada ekranu, wygaszacz ekranu
X-KDE-Keywords[pt]=vídeo, monitor, gráfica, tempo-limite, suspender, bloquear, bloqueio de ecrã, protector de ecrã
X-KDE-Keywords[pt_BR]=vídeo, monitor, gráfico, tempo limite, suspender, bloquear, bloqueio de tela, protetor de tela
X-KDE-Keywords[sl]=video, zaslon, grafika, časovna omejitev, spanje, zaklep, zaklep zaslona, ohranjevalnik zaslona
X-KDE-Keywords[sv]=video, bildskärm, grafik, tidsgräns, viloläge, låsning, skärmlåsning, skärmsläckare
X-KDE-Keywords[uk]=video, monitor, graphics, timeout, sleep, lock, screenlocker, screensaver, відео, монітор, графіка, час очікування, присипляння, блокування, збереження, екран
X-KDE-Keywords[x-test]=xxvideoxx,xx monitorxx,xx graphicsxx,xx timeoutxx,xx sleepxx,xx lockxx,xx screenlockerxx,xx screensaverxx
X-KDE-Keywords[zh_CN]=video, monitor, graphics, timeout, sleep, lock, screenlocker, screensaver, 视频, 显示器, 监视器, 图形, 图像, 超时, 睡眠, 锁屏, 屏幕保护, 屏幕锁定, 屏保, 锁定
Categories=Qt;KDE;X-KDE-settings-system;

